@model DronePhotographerWebSite.Models.Project
@{
    ViewBag.Title = "ProjectGet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="~/styleCss/StyleSheet1.css" rel="stylesheet" />
<script src="~/ckeditor_4.18.0_776f56bf4dc7/ckeditor/ckeditor.js"></script>
<link href="~/ckeditor_4.18.0_776f56bf4dc7/ckeditor/contents.css" rel="stylesheet" />
@using (Html.BeginForm("ProjectUpdate", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.ProjectId)
    <form method="post">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Proje Ekle</h4>
                                <p class="card-description">
                                    Proje Bilgilerini Doldurunuz
                                </p>
                                <form class="forms-sample">
                                    <div class="form-group">
                                        <label for="exampleInputName1">Proje Adı</label>
                                        @Html.TextBoxFor(x => x.ProjetTitle, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail3">Proje Kısa Açıklaması</label>
                                        @Html.TextBoxFor(x => x.ProjectDescription, new { @class = "form-control" })
                                    </div>
                                    <br />
                                    <div class="row">

                                        <div class="col-md-4  mx-auto">
                                            <div class="file-upload-container" style="margin-right:50px;">
                                                <label for="fileInput1" class="custom-file-upload text-center" name="UrunGorsel1" accept=".jpeg,.png,.jpg">
                                                    <img src="~/img/add.png" class="add-icon" />
                                                    <input type="file" class="imageBrowes" id="fileInput1" name="UrunGorsel1" accept=".jpeg,.png,.jpg" />
                                                </label>
                                                <div class="panel panel-body" style="min-height:100px; display: flex; flex-wrap: wrap;">
                                                    <div class="thumbnail" >
                                                        <img class="img-responsive targetImg"  />
                                                        <div class="caption" style="text-align: center;">
                                                            <a href="#" onclick="ClearPreview(1)" style="text-decoration: none;">
                                                                <img class="deleteimg" src="~/img/delete.png" style="display: flex; margin-top: 5px; border: none; padding: 0; " />
                                                            </a>
                                                            <div class="edit-icon" onclick="EditImage(1)">
                                                                <img src="~/img/pen.png" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4  mx-auto">
                                            <div class="file-upload-container">
                                                <label for="fileInput2" class="custom-file-upload text-center" name="UrunGorsel2" accept=".jpeg,.png,.jpg">
                                                    <img src="~/img/add.png" class="add-icon" />
                                                    <input type="file" class="imageBrowes" id="fileInput2" name="UrunGorsel2" accept=".jpeg,.png,.jpg" />
                                                </label>
                                                <div class="panel panel-body" style="min-height:100px; display: flex; flex-wrap: wrap;">
                                                    <div class="thumbnail" >
                                                        <img class="img-responsive targetImg" id="ProjectImage2" />
                                                        <div class="caption" style="text-align: center;">
                                                            <a href="#" onclick="ClearPreview(2)" style="text-decoration: none;">
                                                                <img class="deleteimg" src="~/img/delete.png" style="display: flex; margin-top: 5px; border: none; padding: 0; " />
                                                            </a>
                                                            <div class="edit-icon" onclick="EditImage(2)">
                                                                <img src="~/img/pen.png" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4  mx-auto">
                                            <div class="file-upload-container">
                                                <label for="fileInput3" class="custom-file-upload text-center" name="UrunGorsel3" accept=".jpeg,.png,.jpg">
                                                    <img src="~/img/add.png" class="add-icon" />
                                                    <input type="file" class="imageBrowes" id="fileInput3" name="UrunGorsel3" accept=".jpeg,.png,.jpg" />
                                                </label>
                                                <div class="panel panel-body" style="min-height:100px; display: flex; flex-wrap: wrap;">
                                                    <div class="thumbnail" >
                                                        <img class="img-responsive targetImg" id="ProjectImage3" />
                                                        <div class="caption" style="text-align: center;">
                                                            <a href="#" onclick="ClearPreview(3)" style="text-decoration: none;">
                                                                <img class="deleteimg" src="~/img/delete.png" style="display: flex; margin-top: 5px; border: none; padding: 0; " />
                                                            </a>
                                                            <div class="edit-icon" onclick="EditImage(3)">
                                                                <img src="~/img/pen.png" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br />
                                    <div class="form-group">
                                        <label for="exampleTextarea1">Proje Detayı</label>
                                        <textarea name="ProjectDetail" class="ckeditor">@Model.ProjectDescription</textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary mr-2">Gönder</button>
                                    <button class="btn btn-light">İptal</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </form>
}


<script>
    $(document).ready(function () {
        $(".imageBrowes").change(function () {
            var fileInputId = $(this).index(".imageBrowes") + 1;
            var File = this.files;
            if (File && File[0]) {
                ReadImage(File[0], fileInputId);
            }
        });
        @*var imageUrl1 = "@Model.ProjectImage1";
    var imageUrl2 = "@Model.ProjectImage2";
    var imageUrl3 = "@Model.ProjectImage3";*@

    $(".targetImg").eq(0).attr('src', imageUrl1);
    $(".targetImg").eq(1).attr('src', imageUrl2);
    $(".targetImg").eq(2).attr('src', imageUrl3);
    });

    var ReadImage = function (file, index) {
        var reader = new FileReader;
        var image = new Image;

        reader.readAsDataURL(file);
        reader.onload = function (_file) {
            image.src = _file.target.result;
            image.onload = function () {
                var height = this.height;
                var width = this.width;
                var type = file.type;
                var size = ~~(file.size / 1024) + "KB";

                $(".targetImg").eq(index - 1).attr('src', _file.target.result);
                $(".description").eq(index - 1).text("Size:" + size + ", " + height + "X " + width + ", " + type + "");
                $(".add-icon").eq(index - 1).hide();
                $(".thumbnail").eq(index - 1).show();
            };
        };
    };

    var ClearPreview = function (index) {
        $(".imageBrowes").eq(index - 1).val('');
        $(".description").eq(index - 1).text('');
        $(".add-icon").eq(index - 1).show();
        $(".thumbnail").eq(index - 1).hide();
    };

    var EditImage = function (index) {
        $(".imageBrowes").eq(index - 1).click();
    };
</script>
<script type="text/javascript" lang="javascript">CKEDITOR.replace('editor');</script>
